*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;;
}

/* Header */
#Header{
    background-image: url(../img/SITE-STALLONE-1600-×-1000-px.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(60%);
}
#Header h1{
    background-color: rgba(0, 0, 0, 0.800);
    text-align: center;
    font-size: 6rem;
    color: white;
    margin-top: 25vh;
    padding: 5%;
    border-radius: 5%;
}
#Header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, 0.800);
}
#Header a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

/* MAIN */
#Section1, #CONTACT{
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;

}
#Section1 h2, #CONTACT h2{
    text-align: center;
    font-size: 6rem;
    text-shadow:5px 5px #558ABB;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.div1{
    display: flex;
    flex-direction: row;
}
#Section1 img{
    width: 60%;
}
.div2{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}
#Section1 h3{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
#Section1 p{
    font-size: 1.2rem;
}

/* CONATC */
.formulaireContact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 2px black;
    box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.288);
}
.reponseFormContact{
    font-size:2rem;
    color: gray;
}
.wrong{
    color: red;
    font-size: 0.9rem;
}


/* Footer */
#Footer{
    height: 30vh;
    background-color: rgb(0, 0, 61);
}
#Footer p{
    text-align: center;
    color: white;
    font-size: 2.2rem;
    padding-top: 15vh;
}